.quire-page .accordion-section .accordion-section__heading {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.accordion-section__heading {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1;
  list-style: none;
  display: flex;
  cursor: pointer;
  &::-webkit-details-marker {
    display: none;
  }
}

.accordion-section__copy-link-button {
  cursor: pointer;
  margin-left: -20px;
  margin-bottom: 3px;
  width: 20px;
  font-size: 20px;
  background: none;
  color: transparent;
  border: none;
  padding: 0;
  outline: inherit;
}

.accordion-section__heading:hover .accordion-section__copy-link-button {
  color: $accent-color;
  &:active {
    color: $print-text-color;
  }
  &:hover {
    color: darken($accent-color, 10%);
  }
}

.accordion-section__controls:after {
  align-self: center;
  margin-left: 8px;
  font-size: 24px;
}

.accordion-section__controls--arrow:after {
  content: "";
  width: 18px;
  height: 18px;
  background-size: 18px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(0);
  transition: 0.25s transform ease;
  right: 0;
}

.accordion-section[open] > .accordion-section__controls--arrow:after {
  transform: rotate(180deg);
}

.accordion-section__controls--plus-minus:after {
  content: "+";
}

.accordion-section[open] > .accordion-section__controls--plus-minus:after {
  content: "-";
}

.accordion-section__body > p {
  margin-bottom: 20px;
}

.global-accordion-controls {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
    color: $accent-color;
    text-decoration: underline;
    margin-top: 6px;
  }
  button:hover {
    text-decoration: none;
  }
}