$controls-width: 18px;
$controls-margin: 10px;

.quire-page .accordion-section .accordion-section__heading {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.accordion-section__copy-link-button:has(+ h1),
.accordion-section__controls:has(h1):after {
  height: 55px;
  line-height: 1.15;
}

.accordion-section__copy-link-button:has(+ h1) {
  font-size: 28px;
  width: 22px;
}

.accordion-section__controls:has(h1):after {
  font-size: 30px;
}

.accordion-section__copy-link-button:has(+ h2),
.accordion-section__controls:has(h2):after {
  height: 32px;
  line-height: 1.15;
}

.accordion-section__copy-link-button:has(+ h2) {
  font-size: 20px;
  width: 20px;
}

.accordion-section__controls:has(h2):after {
  font-size: 22px;
}

.accordion-section__copy-link-button:has(+ h3),
.accordion-section__controls:has(h3):after {
  height: 30px;
  line-height: 1.25;
}

.accordion-section__copy-link-button:has(+ h3) {
  font-size: 18px;
  width: 20px;
}

.accordion-section__controls:has(h3):after {
  font-size: 20px;
}

.accordion-section__copy-link-button:has(+ h4, + h5, + h6),
.accordion-section__controls:has(h4, h5, h6):after {
  height: 28px;
  font-size: 18px;
  line-height: 1.3;
}

.accordion-section__copy-link-button:has(+ h4, + h5, + h6) {
  width: 18px;
}

.accordion-section__controls:has(h4, h5, h6):after {
  font-size: 20px;
}

.accordion-section__heading {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1;
  list-style: none;
  display: flex;
  position: relative;
  cursor: pointer;
  &::-webkit-details-marker {
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: calc(100% - calc($controls-width + $controls-margin));
  }
}

.accordion-section__copy-link-button.tooltip {
  position: absolute;
}

.accordion-section__copy-link-button {
  cursor: pointer;
  position: relative;
  margin-left: -24px;
  width: 22px;
  margin-right: 2px;
  background: none;
  color: transparent;
  border: none;
  padding: 0;
  outline: inherit;
}

.accordion-section__heading:hover .accordion-section__copy-link-button {
  color: $accent-color;
  &:hover {
    color: darken($accent-color, 15%);
  }
  &:active {
    color: $print-text-color;
  }
}

.accordion-section__controls:after {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: $controls-margin;
  font-size: 24px;
  @media print {
    display: none;
  }
}

.accordion-section__controls--arrow:after {
  content: "";
  width: $controls-width;
  height: $controls-width;
  background-size: $controls-width;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(0);
  transition: 0.25s transform ease;
  right: 0;
}

.accordion-section[open] > .accordion-section__controls--arrow:after {
  transform: rotate(180deg);
}

.accordion-section__controls--plus-minus:after {
  content: "+";
}

.accordion-section[open] > .accordion-section__controls--plus-minus:after {
  content: "-";
}

.accordion-section__body > p {
  margin-bottom: 20px;
}

.accordion-section__copy-link-button {
  &.accordion-tooltip--active {
    &:after {
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
  }
}

.accordion-tooltip::after {
  content: attr(data-text);
  position: absolute;
  display: none;
  font-size: 16px;
  background: black;
  color: #fff;
  margin: 0;
  height: 0;
  width: 0;
  opacity: 0;
  padding: 0;
}

.accordion-tooltip--active::after {
  padding: 10px 10px 20px 10px;
  display: block;
  animation: fade 2s linear;
  -webkit-animation: fade 2s linear;
  width: 275px;
  height: auto;
  top: 0;
  left: -8px;
  transform: translateY(-100%);
  clip-path: polygon(
    0% 0%, // Top left point
    100% 0%, // Top right point
    100% calc(100% - 10px), // Bottom right point
    10px calc(100% - 10px), // Center right of the triangle
    18px 100%, // Tip of the triangle
    26px calc(100% - 10px), // Center left of the triangle
    0% calc(100% - 10px) // Bottom left point
  );
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  10%,90% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade {
  0%, 100% { opacity: 0; }
  10%,90% { opacity: 1; }
  100% { opacity: 0; }
}

.global-accordion-controls {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
    color: $accent-color;
    text-decoration: underline;
    margin-top: 6px;
  }
  button:hover {
    text-decoration: none;
  }
}